{% extends "layout.html" %}
{% block title %} Create Survey {% endblock %}
{% block head %}
<script src = "{{ url_for('static', filename = 'edit_survey_functions.js') }}"> </script>
<script>
function toggle_view_questions(){
	questionsDiv = document.getElementById('saved_questions')
	if (questionsDiv.style.visibility == 'visible'){
		questionsDiv.style.visibility = 'hidden'
	} else {
		questionsDiv.style.visibility = 'visible'
	}
}
</script>
{% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
	 <li><a href='/'>Home</a></li>
	 <li><a href='/home'>Dashboard</a></li>
	 <li style="float: right;"><a href ='/logout'>Logout</a><li>
</ul>
</div>

<center>

<h1> Create a survey for {{ course }} - {{ semester }} </h1>
</br>

<div id="qSpace"> </div> <!-- Space for questions -->

<button onclick="init_new_question(); document.getElementById('saved_questions').style.visibility = 'hidden'"> Add new Question </button>
<br> <br>
<button onclick="toggle_view_questions()"> Add existing question </button>
<br> <br>
<button onclick="publish_survey()"> Finish Survey and publish </button>

<button onclick="discard_survey()"> Discard </button>

<div id = "newQuestionZone"></div>


<div id="saved_questions" style = "visibility: hidden">
	{% if saved_questions != [] %}
		<table>
		<tr>
			<th> Question </th>
			<th> Answers </th>
			<th> Add Question</th>
			<th> Delete Question </th>
		</tr>
		{% for question in saved_questions %}
		<tr id = "existingQuestion{{question.id}}">
			<td style = "width: 30%"> {{ question.text }} </td>
			<td style = "width: 40%">
				{% if question.multi == True %}
					<p>Choose One:</p>
				{% else %}
					<p>Choose Many:</p>
				{% endif %}
				<button data-toggle="collapse" data-target="#Q{{question.id}}Options">Show options...</button>
				<div id = "Q{{question.id}}Options" class="collapse">
					<ul>
					{% for option in question.options %}
						<li style = "white-space: wrap">{{ option.text }}</li>
					{% endfor %}
					</ul>
				</div>
			</td>
			<td style = "width: 15%"> <button onclick="add_existing_question({{question['id']}})"> Add</button> </td>
			<td style = "width: 15%"> <button onclick="delete_existing_question({{question['id']}})"> Delete</button> </td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p> No questions are saved, please add a new one </p>
	{% endif %}
</div>

</center>
{% endblock %}
