{% extends "layout.html" %}
{% block title %} Create Survey {% endblock %}
{% block head %} 
<script src = "{{ url_for('static', filename = 'edit_survey_functions.js') }}"> </script>
<script>
function toggleViewQuestions(){
	questionsDiv = document.getElementById('saved_questions')
	if (questionsDiv.style.visibility == 'visible'){
		questionsDiv.style.visibility = 'hidden'
	} else {
		questionsDiv.style.visibility = 'visible'
	}
}
</script>
{% endblock %}

{% block content %}
<center>

<h1> Create a survey for {{ course }} - {{ semester }} </h1>

<div id="qSpace"> </div> <!-- Space for questions -->

<button onclick="publishSurvey()"> Finish Survey and publish </button>

<button onclick="init_new_question(); document.getElementById('saved_questions').style.visibility = 'hidden'"> Add new Question </button>
<br> <br>
<button onclick="toggleViewQuestions()"> Add existing question </button>
<div id = "newQuestionZone"></div>


<div id="saved_questions" style = "visibility: hidden">
	{% if saved_question != [] %}
		<table>
		<tr>
			<th> Question </th>
			<th> Answers </th>
			<th> Add </th>
			<th> Delete </th>
		</tr>
		{% for question in saved_questions %}
		<tr id = "existingQuestion{{question.id}}">
			<td> {{ question.text }} </td>
			<td> 
				{% if question.multi == True %}
					<p>Choose One:</p>
				{% else %}
					<p>Choose Many:</p>
				{% endif %}
				<button data-toggle="collapse" data-target="#Q{{question.id}}Options">Show options...</button>
				<div id = "Q{{question.id}}Options" class="collapse">
					<ul>
					{% for option in question.options %}
						<li>{{ option.text }}</li>
					{% endfor %}
					</ul>
				</div>
			</td>
			<td> <button onclick="addExistingQuestion({{question['id']}})"> Add question </button> </td>
			<td> <button onclick="deleteExistingQuestion({{question['id']}})"> Delete question </button> </td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p> No questions are saved, please add a new one </p>
	{% endif %}
</div>

</center>
{% endblock %}