{% extends "layout.html" %}
{% block title %} Create Survey {% endblock %}
{% block head %}
<script src = "{{ url_for('static', filename = 'edit_survey_functions.js') }}"> </script>
{% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
	 <img src= "static/image/logo.png">
	 <li><a href ='/logout'>Logout</a><li>
	 <li><a href="{{ url_for('login') }}">Dashboard</a></li>
</ul>
</div>

<center>

<h1> Create a survey for {{ course }} - {{ semester }} </h1>
<h3> Choose a start and end date (dd/mm/yyyy): </h3>
Start: <input type = "date" id = "start">    End: <input type = "date" id = "end">
<br>
<br>

<div id="qSpace"> </div> <!-- Space for questions -->

<button onclick="init_new_question(); document.getElementById('saved_questions').style.visibility = 'hidden'"> Add new Question </button>
<br> <br>
<button onclick="toggle_view_questions()"> Add existing question </button>
<br> <br>
<button onclick="publish_survey()"> Open survey for staff review </button>

<button onclick="discard_survey()"> Discard </button>

<div id = "newQuestionZone"></div>


<div id="saved_questions" style = "visibility: hidden">
	{% if saved_questions != [] %}
		<table>
		<tr>
			<th> Question </th>
			<th> Answers </th>
			<th> Type </th>
			<th> Add Question</th>
			<th> Delete Question </th>
		</tr>
		{% for question in saved_questions %}
		{% if question.get_visible() %}
		<tr id = "existingQuestion{{question.get_id()}}">
			<td style = "width: 30%">{{question.get_question_text()}}</td>
			<td style = "width: 30%">
				{% if question.get_type() == 'text' %}
					<p>Text</p>
				{% else %}
					{% if question.get_type() == 'multi' %}
						<p>Choose Many:</p>
					{% else %}
						<p>Choose One:</p>
					{% endif %}
					<button data-toggle="collapse" data-target="#Q{{question.get_id()}}Options">Show options...</button>
					<div id = "Q{{question.get_id()}}Options" class="collapse">
						<ul>
						{% for option in question.get_options() %}
							<li style = "white-space: wrap">{{option}}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
			</td>
			{% if question.get_mandatory() %}
				<td style = "width: 10%"><p style = "color: #FF0000">Mandatory</p></td>
			{% else %}
				<td style = "width: 10%"><p style = "color: #000000">Optional</p></td>
			{% endif %}
			<td style = "width: 15%"> <button onclick="add_existing_question({{question.get_id()}})"> Add</button> </td>
			<td style = "width: 15%"> <button onclick="delete_existing_question({{question.get_id()}})"> Delete</button> </td>
		</tr>
		{% endif %}
		{% endfor %}
		</table>
	{% else %}
		<p> No questions are saved, please add a new one </p>
	{% endif %}
</div>

</center>
{% endblock %}
