{% extends "layout.html" %}
{% block title %} Admin Homepage {% endblock %}
{% block head %} {% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
	 <li><a href='/'>Home</a></li>
	 <li><a href='/home'>Dashboard</a></li>
	 <li style="float: right;"><a href ='/logout'>Logout</a><li>
</ul>
</div>
<center>
		<h1> Admin Homepage </h1>
		<br>
		<p> <button onclick = "window.location.href = '/review_questions'" style="font-size: 150%" >Review saved questions </button> </p>
		<p> <button onclick = "window.location.href='/create'" style="font-size: 150%" >Create a new survey </button> <p>
		<br>
		<tr>
		{% if review_surveys %}
			<h3 style="font-size: 200%;"> Surveys in review: </h3>
			<table>
			<tr>
				<th style="font-size: 150%;"> <center> Course </center> </th>
				<th style="font-size: 150%;"> <center> Semester  </center> </th>
			</tr>
			{% for survey in review_surveys %}
				<tr>
					<td style="font-size: 150%;"> {{survey.course.name}}   </td>
					<td style="font-size: 150%;"> {{survey.course.semester}}   </td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}

		{% if active_surveys %}
			<h3 style="font-size: 200%;"> Active surveys: </h3>
			<table>
			<tr>
				<th style="font-size: 150%;"> <center> Course </center> </th>
				<th style="font-size: 150%;"> <center> Semester </center> </th>
				<th style="font-size: 150%;"> <center> Metrics </center> </th>
			</tr>
			{% for survey in active_surveys %}
				<tr>
					<td style="font-size: 150%;"> {{survey.course.name}}   </td>
					<td style="font-size: 150%;"> {{survey.course.semester}}   </td>
					<td style="font-size: 150%;">
						<button onclick = "window.location.href = '/metrics/{{survey.course.name}}/{{survey.course.semester}}';"> View Metrics </button>
					</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}

		{% if closed_surveys %}
			<h3 style="font-size: 200%;"> Closed surveys: </h3>
			<table>
			<tr>
				<th style="font-size: 150%;"> <center> Course </center> </th>
				<th style="font-size: 150%;"> <center> Semester </center> </th>
				<th style="font-size: 150%;"> <center> Results </center> </th>
			</tr>
			{% for survey in closed_surveys %}
				<tr>
					<td style="font-size: 150%;"> {{survey.course.name}}   </td>
					<td style="font-size: 150%;"> {{survey.course.semester}}   </td>
					<td style="font-size: 150%;">
						<button onclick = "window.location.href = '/results/{{survey.course.name}}/{{survey.course.semester}}';"> View Results </button>
					</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
</center>
{% endblock %}
