{% extends "layout.html" %}
{% block title %} Admin Homepage {% endblock %}
{% block head %} {% endblock %}

{% block content %}
<center>
		<h1> Admin Homepage </h1>
		<h3> Active surveys: </h3>
		<table>
		{% for course, semester in active_surveys %}
			<tr>
				<td> <a href = "/survey/{{course}}/{{semester}}">{{course}}: {{semester}}</a> </td>
			</tr>
		{% endfor %}
		</table>
		<p> <button onclick = "window.location.href='/create'">Create a new survey </button> <p>
</center>
{% endblock %}