{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/styles/login.css">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
{% if attempt %}
<script>
window.onload = function() {
	window.alert("Sorry, the username or password was wrong. Please try again.")
}
</script>
{% endif %}
{% endblock %}
{% block content %}
<div id='cssmenu'>
<ul>
   <li style="float:left;"><img src= "static/image/logo.png"></li>
</ul>
</div>
<center>
{% if page != None %}
	<h3>Please login before you can access that page.</h3>
{% endif %}
</br>
<form method = "POST" class="login-form">
	<h1 style =" text-align: center; font-family: 'Vibur', cursive; font-size: 60px;"> Login </h1></br></br>
	<div class="form-group ">
       <input type="text" class="form-control" placeholder="Username " name = "username">
       <i class="fa fa-user"></i>
     </div>
     <div class="form-group log-status">
       <input type="password" class="form-control" placeholder="Password" name = "password">
       <i class="fa fa-lock"></i>
     </div>
</br>
	<button type = "submit" class="log-btn" name = "loginButton">Log In</button>
</form>
</center>
{% endblock %}
