{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block head %}
{% if attempt %}
<script>
window.onload = function() {
	window.alert("Sorry, the username or password was wrong. Please try again.")
}
</script>
{% endif %}
{% endblock %}
{% block content %}
<center>
<h1> Login </h1>
{% if page != None %}
	<h3>Please login before you can access that page.</h3>
{% endif %}
</br>
<form method = "POST">
	<b>Username: </b><input type = "text" name = "username"/></br>
	<b>Password: </b><input type = "password" name = "password"/></br>
</br>
	<button type = "submit" name = "loginButton">Login</button>
</form>
</center>
{% endblock %}
