{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/styles/login.css">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
{% if attempt %}
<script>
window.onload = function() {
	window.alert("Sorry, the username or password was wrong. Please try again.")
}
</script>
{% endif %}
{% endblock %}
{% block content %}
<div id='cssmenu'>
<ul>
   <li style="float:left;"><img src= "/static/image/logo.png"></li>
</ul>
</div>
<center>
{% if page != None %}
  {% if role == 'Admin' %}
    <h3 style="color: #FF0000">You need to be logged in as an Admin to access that page.</h3>
  {% elif role == 'Staff' %}
    <h3 style="color: #FF0000">You need to be logged in as a Staff member to access that page.</h3>
  {% elif role == 'Student' and logged_in_as == 'Student' %}
    <h3 style="color: #FF0000">You need to be logged in as a Student who is enrolled in that course and has not responded to that survey</h3>
  {% elif role == 'Student' %}
    <h3 style="color: #FF0000">You need to be logged in as a Student to access that page.</h3>
  {% endif %}
  {% if logged_in_as == 'Staff' %}
    <p>You can instead <a href = '/staffHome'>return to Staff Dashboard</a></p>
  {% elif logged_in_as == 'Student' %}
    <p>You can instead <a href = '/studentHome'>return to Student Dashboard</a></p>
  {% else %}
    <p>You might be getting this error message if you left yourself logged in for more than half an hour. You will need to login again.</p>
  {% endif %}
{% endif %}
</br>
<form method = "POST" class="login-form">
	<h1 style =" text-align: center; font-family: 'Vibur', cursive; font-size: 60px;"> Login </h1></br></br>
	<div class="form-group ">
       <input type="text" class="form-control" placeholder="Username " name = "username">
       <i class="fa fa-user"></i>
     </div>
     <div class="form-group log-status">
       <input type="password" class="form-control" placeholder="Password" name = "password">
       <i class="fa fa-lock"></i>
     </div>
</br>
	<button type = "submit" class="log-btn" name = "loginButton">Log In</button>
<br><br>
<p>Alternatively, you may <a href = '/registerGuest'>Register as Guest</a>. </p>
</form>
</center>
{% endblock %}
