{% extends "layout.html" %}
{% block title %} Select a semester {% endblock %}
{% block head %} {% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
	 <li style="float: right;"><a href ='/logout'>Logout</a><li>
	 <li><a href='/adminHome'>Dashboard</a></li>
</ul>
</div>
<center>
<h1 > Select a semester for the survey </h1>
</br>
{% if semesters == [] %}
	<p> No courses are available right now. </p>
{% else %}
	<table >
	<tr>
		<th >Year/Semester</th>
	</tr >
	{% for semester in semesters %}
	<tr>
		<td ><a href = "/select_course/{{semester}}">{{semester}}</a></td>
	</tr>
	{% endfor %}
	</table>
{% endif %}
</center>

{% endblock %}