{% extends "layout.html" %}
{% block title %} Select a course {% endblock %}
{% block head %} {% endblock %}

{% block content %}
<center>
<h1> Select a course </h1>
{% if courses == [] %}
	<p> No courses are available right now. </p>
{% else %}
	<table>
	<tr>
		<th>Course</th>
		<th>Year/Semester</th>
	</tr>
	{% for course in courses %}
	<tr>
		<td><a href = "/create/{{course[0]}}/{{course[1]}}">{{course[0]}} </a> </td>
		<td> {{course[1]}} </td>
	</tr>
	{% endfor %}
	</table>
{% endif %}
</center>

{% endblock %}