{% extends "layout.html" %}
{% block title %} Select a course {% endblock %}
{% block head %} {% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
	 <li><a href='/staffHome'>Dashboard</a></li>
	 <li style="float: right;"><a href ='/'>Logout</a><li>
</ul>
</div>
<center>
<h1 > Select a course </h1>
</br>
{% if courses == [] %}
	<p> No courses are available right now. </p>
{% else %}
	<table >
	<tr>
		<th >Course &nbsp;&nbsp;&nbsp;</th>
		<th >Year/Semester</th>
	</tr >
	{% for course in courses %}
	<tr>
		<td ><a href = "/create/{{course.name}}/{{course.semester}}">{{course.name}}</a> &nbsp;&nbsp;&nbsp;</td>
		<td s> {{course.semester}} </td>
	</tr>
	{% endfor %}
	</table>
{% endif %}
</center>

{% endblock %}
