{% extends "layout.html" %}
{% block title %} Staff Homepage {% endblock %}
{% block head %}
<script src = "{{ url_for('static', filename = 'edit_survey_functions.js') }}"> </script>
{% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
	 <img src= "static/image/logo.png">
	 <li><a href ='/logout'>Logout</a><li>
	 <li><a href="{{ url_for('login') }}">Dashboard</a></li>
</ul>
</div>
<center>
		<h1> Staff Homepage </h1>
		<br>
		<br>

		{% if not review_surveys and not active_surveys and not closed_surveys %}
			<p>There are no surveys for your course(s). Please contact the administrator to register for lecturing a course or request a new survey.</p>
		{% endif %}

		{% if review_surveys %}
			<h2> Surveys in review: </h2>
			<table>
			<tr>
				<th> <center> Course: Semester </center> </th>
				<th> <center> Review </center> </th>
				<th> <center> Open Survey </center> </th>
			</tr>
			{% for survey in review_surveys %}
				<tr>
					<td> {{survey.course.name}}: {{survey.course.semester}}   </td>
					<td> <button onclick = "window.location.href = '/review/{{survey.course.name}}/{{survey.course.semester}}'"> Review </button> </td>
					<td> <button onclick = "if (!date_in_future('{{survey.start}}') || today('{{survey.start}}')) {window.location.href = '/open_survey/{{survey.course.name}}/{{survey.course.semester}}';} else { alert('Survey cannot be opened until {{survey.start}}'); }"> Open Survey </button> </td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}

		{% if active_surveys %}
			<h2> Active surveys: </h2>
			<table>
			<tr>
				<th> <center> Course </center> </th>
				<th> <center> Semester  </center> </th>
				<th> <center> Close Survey </center> </th>
			</tr>
			{% for survey in active_surveys %}
				<tr>
					<td> {{survey.course.name}}   </td>
					<td>   {{survey.course.semester}}   </td>
					<td>   <button onclick = "if (!date_in_future('{{survey.end}}') || today('{{survey.end}}')) {window.location.href = '/close_survey/{{survey.course.name}}/{{survey.course.semester}}';} else { alert('Survey cannot be closed until {{survey.end}}'); }"> Close Survey </button>   </td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}

		{% if closed_surveys %}
			<h2> Closed surveys: </h2>
			<table>
			<tr>
				<th> <center> Course </center> </th>
				<th> <center> Semester  </center> </th>
				<th> <center> Results </center> </th>
			</tr>
			{% for survey in closed_surveys %}
				<tr>
					<td> {{survey.course.name}}   </td>
					<td>   {{survey.course.semester}}   </td>
					<td>   <button onclick = "window.location.href = '/results/{{survey.course.name}}/{{survey.course.semester}}'"> View Results </button>   </td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
</center>
{% endblock %}