{% extends "layout.html" %}
{% block title %} Student Homepage {% endblock %}
{% block head %} {% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
	 <img src= "static/image/logo.png">
	 <li><a href ='/logout'>Logout</a><li>
	 <li><a href="{{ url_for('login') }}">Dashboard</a></li>
</ul>
</div>

<center>
		<h1> Student Homepage </h1>
		<br>
		<br>

		{% if active_surveys %}
			<h2> Your surveys: </h2>
			<table>
			{% for survey in active_surveys %}
				<tr>
					<td> {{survey.course.name}}: {{survey.course.semester}}   </td>
					<td> <button onclick = "window.location.href = '/survey/{{survey.course.name}}/{{survey.course.semester}}'"> Complete </button> </td>
			{% endfor %}
			</table>
		{% endif %}

		<button onclick = "window.location.href = '/studentResults';"> View Closed Survey Results </button>
{% endblock %}