{% extends "layout.html" %}
{% block title %} Survey - {{ course }} {{ semester }} {% endblock %}
{% block head %} {% endblock %}

{% block content %}
<center>
<h1> Survey for {{ course }} {{ semester }} </h1>
<form method = "POST">
	{% for question in survey_data %}
		<h3> Q.{{ question['id'] }}: {{ question['questionText'] }} </h3>
		<div style = "display: inline-block; text-align: left">
		{% for i, option in question['options'] %}
			{% if question['multi'] %}
				<input type = "checkbox" name = "Q{{ question['questionNum'] }}" value = "O{{i+1}}">{{ option }}<br>
			{% else %}
				<input type = "radio" name = "Q{{ question['questionNum'] }}" value = "O{{i+1}}">{{ option }}<br>
			{% endif %}
		{% endfor %}
		</div>
		<br>
		<br>
	{% endfor %}
	<br><br>
	<button type = "submit" name = "submitButton">Submit</button>
</form>
</center>
{% endblock %}