{% extends "layout.html" %}
{% block title %} Survey - {{ course }} {{ semester }} {% endblock %}
{% block head %} {% endblock %}

{% block content %}
<center>
<h1> Survey for {{ course }} {{ semester }} </h1>
<form method = "POST">
	{% for question in survey_data %}
		<h3> Q.{{ question.id }}: {{ question.text }} </h3>
		<div style = "display: inline-block; text-align: left">
		{% for option in question.options %}
			{% if question.multi %}
				<input type = "checkbox" name = "Q{{ question.id }}" value = "O{{option.id+1}}">{{ option.text }}<br>
			{% else %}
				<input type = "radio" name = "Q{{ question.id }}" value = "O{{option.id+1}}">{{ option.text }}<br>
			{% endif %}
		{% endfor %}
		</div>
		<br>
		<br>
	{% endfor %}
	<br><br>
	<button type = "submit" name = "submitButton">Submit</button>
</form>
</center>
{% endblock %}