{% extends "layout.html" %}
{% block title %} Saved Questions {% endblock %}
{% block head %}
<script src = "{{ url_for('static', filename = 'view_questions_functions.js') }}"> </script>
{% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
	 <li><a href='/'>Home</a></li>
	 <li><a href='/home'>Dashboard</a></li>
	 <li style="float: right;"><a href ='/logout'>Logout</a><li>
</ul>
</div>

<center>

<h1> Saved Questions </h1>

<div id="qSpace"> </div>

<div id="saved_questions" style = "visibility: visible">
	{% if saved_questions != [] %}
		<table>
		<tr>
			<th> Question </th>
			<th> Answers </th>
			<th> Type </th>
			<th> Add Question</th>
			<th> Delete Question </th>
		</tr>
		{% for question in saved_questions %}
		{% if question.get_visible() %}
		<tr id = "existingQuestion{{question.get_id()}}">
			<td style = "width: 30%">{{question.get_question_text()}}</td>
			<td style = "width: 30%">
				{% if question.get_type() == 'text' %}
					<p>Text</p>
				{% else %}
					{% if question.get_type() == 'multi' %}
						<p>Choose Many:</p>
					{% else %}
						<p>Choose One:</p>
					{% endif %}
					<button data-toggle="collapse" data-target="#Q{{question.get_id()}}Options">Show options...</button>
					<div id = "Q{{question.get_id()}}Options" class="collapse">
						<ul>
						{% for option in question.get_options() %}
							<li style = "white-space: wrap">{{option}}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
			</td>
			{% if question.get_mandatory() %}
				<td style = "width: 10%"><p style = "color: #FF0000">Mandatory</p></td>
			{% else %}
				<td style = "width: 10%"><p style = "color: #000000">Optional</p></td>
			{% endif %}
			<td style = "width: 15%"> <button onclick="add_existing_question({{question.get_id()}})">Edit</button> </td>
			<td style = "width: 15%"> <button onclick="delete_existing_question({{question.get_id()}})">Delete</button> </td>
		</tr>
		{% endif %}
		{% endfor %}
		</table>
	{% else %}
		<p> No questions are saved, please add a new one </p>
	{% endif %}

<br>
<br>

<p> <button onclick="init_new_question();" style="font-size: 150%"> Add new Question </button> </p>

<div id = "newQuestionZone"></div>
<br>

<p> <button onclick="window.location.href = '/adminHome'"> Return Home </button> </p>

</div>

</center>
{% endblock %}